.boxContainer {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}
.boxImage {
  height: 160px;
  width: 100%;
  margin-bottom: 10px;
  display: block;
}
.articleImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
